table, th, td{
    border: solid 1px black;
    border-collapse: collapse;
}
th{
    text-align: left;
    vertical-align: top;
    padding: 15px;
    background-color: #EEEEEE;
}
td{
    padding-left: 10px;
    padding-right: 50px;
}
textarea{
    margin: 7px;
}
button{
    margin-top: 7px;
}
select{
    margin: 7px;
}
.komoji{
    font-size: 0.5rem;
}
.h{
    font-size: 0.7rem;
    background-color: #FF5555;
    color: white;
    border-radius: 5px;
}